@model IEnumerable<MVC_work1.Models.客戶銀行資訊>

@{
    ViewBag.Title = "Index";
}

@section breadcrumb {
    <li><a href="@Url.Action("Index")">客戶銀行資訊</a></li>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Bank", FormMethod.Get, new { sSortby = ViewBag.sSortby, pageNo = ViewBag.pageNo }))
{
    @Html.Hidden("sSortby", (object)ViewBag.sSortby)
    @Html.Label("客戶名稱")  @Html.TextBox("sCustName")
    <input type="submit" value="搜尋" />
}

@using PagedList
@using PagedList.Mvc

@Html.PagedListPager(Model as IPagedList,
    (p) => Url.Action("Index", new { sCustName = ViewBag.sCustName, pageNo = p, sSortby = ViewBag.sSortby }))


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.銀行名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.分行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶號碼)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>*@
        <th>
            <a href="@Url.Action("Index", "Bank", new { sSortby = "Asc", sCustName = ViewBag.sCustName, pageNo = ViewBag.pageNo })"><span class="glyphicon glyphicon-chevron-down"></span></a>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            <a href="@Url.Action("Index", "Bank", new { sSortby = "Desc", sCustName = ViewBag.sCustName, pageNo = ViewBag.pageNo })"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.銀行名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶號碼)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
