@model IEnumerable<MVC_work1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "CustomerContact", FormMethod.Get, new { sSortby = ViewBag.sSortby, pageNo = ViewBag.pageNo }))
{
    @Html.Hidden("sSortby", (object)ViewBag.sSortby)
    @Html.Label("職稱:")  @Html.TextBox("sName")
    <input type="submit" value="搜尋" />
}

@using PagedList
@using PagedList.Mvc


@Html.PagedListPager(Model as IPagedList,
    (p) => Url.Action("Index", new { sName = ViewBag.sName, pageNo = p, sSortby = ViewBag.sSortby }))


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            <a href="@Url.Action("Index", "CustomerContact", new { sSortby = "Asc", sName = ViewBag.sName, pageNo = ViewBag.pageNo })"><span class="glyphicon glyphicon-chevron-down"></span></a>
            @Html.DisplayNameFor(model => model.姓名)
            <a href="@Url.Action("Index", "CustomerContact", new { sSortby = "Desc", sName = ViewBag.sName, pageNo = ViewBag.pageNo })"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
