@model IEnumerable<MVC_work1.Models.客戶聯絡人>

@{ 
    var data = Model.ToArray();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
    </tr>

    @for (int i = 0; i < data.Length; i++)
    {
        @Html.HiddenFor(modelItem => data[i].Id)
        <tr>
            <td>
                @Html.EditorFor(modelItem => data[i].職稱)
                @Html.ValidationMessageFor(modelItem => data[i].職稱)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].姓名)
                @Html.ValidationMessageFor(modelItem => data[i].姓名)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].Email)
                @Html.ValidationMessageFor(modelItem => data[i].Email)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].手機)
                @Html.ValidationMessageFor(modelItem => data[i].手機)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].電話)
                @Html.ValidationMessageFor(modelItem => data[i].電話)
            </td>
        </tr>
    }

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
        </tr>
    }*@
</table>
